:root {
  --soviet-red: #af002a;
  --accent-yellow: #ffd50fff;
  --black-bg: rgb(36, 33, 33);
  --spacing-sm: 16px;
  --spacing-md: 34px;
  --spacing-lg: 50px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.column-one {
  width: 40%;
  height: 100%;
  background-color: var(--black-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.column-one .heading {
  align-self: flex-start;
  margin: 15px 15px;
}

.column-one .heading h1 {
  color: white;
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: 10px;
  font-family: "Teko", sans-serif;
  margin: 0;
}

.column-one #column-one-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.column-two {
  width: 60%;
  height: auto;
}
